
.container {
    padding: 30px;
    border-radius: 4px;
    border: 1px solid lightgray;
    background: white;
}

.title {
    margin-top: 0;
    margin-bottom: 20px;
}

.custom-file-input {
    display: inline-block;
    padding: 8px 20px;
    border: 1px solid lightgray;
    border-radius: 4px;
    cursor: pointer;
}

.input {
    display: none;
}

.ClearFiles {
    font-size: 20px;
    cursor: pointer;
    margin-left: 20px;
}

.ValueFiles {
    margin-left: 20px;
}

.ClearFiles:hover {
    transition: 0.2s;
    color: red;
}

.uploadBtn {
    padding: 8px 20px;
    margin-left: 20px;
    border: none;
    background-color: #4CAF50;
    color: white;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}